<h2>All Orders</h2>
<% orders.forEach(order => { %>
  <div>
    <h4><%= order.user.name %> | <%= order.user.email %></h4>
    <p>Total: PKR <%= order.total %> | Status: <%= order.status %></p>
    <ul>
      <% order.items.forEach(item => { %>
        <li><%= item.description %> - Quantity: <%= item.quantity %></li>
      <% }) %>
    </ul>
    <hr>
  </div>
<% }) %>
